body{
  margin:0;
}
.list_header{
  background-color: black;
  color:white;
  .list_title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
    padding-left: 30px;
  }
}
.list_content{
  display:flex;
  .list_left_content{
    width: 30%;
    padding: 0.67em 10px;
    .sub_title{
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    .book_style{
      text-align: center;
      width: 47%;
      height: 15em;
      display: inline-block;
      margin: 1%;
      border: 1px black solid;
      .book_title{
        margin: 1.5em;
        font-size: 1.2em;
      }
      .book_icon{
        font-size: 1.5em;
        padding-top: 2em;
        i{
          cursor: pointer;
        }
      }
      .border-blue{
        border:1px solid dodgerblue;
      }
    }
  }
  .list_right_content{
    width: 70%;
    padding: 0.67em 10px;
    .sub_title{
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
}

