<ui-view ng-controller="DisplayListController as DisplayListCtrl">
    <div>
        <div class="list_header">
            <h1 class="list_title">书籍列表</h1>
            <!--<p>Describe</p>-->
        </div>
        <!--<p>This is some text.</p>-->
    </div>

    <div class="list_content">
        <!-- book list-->
        <div class="list_left_content">
            <div class="sub_title">
                书籍
                <button class="btn btn-xs btn-default" ng-click="DisplayListCtrl.visitBookScanner()">
                  <i class="glyphicon glyphicon-file"></i>
                </button>
                <button class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-import"></i>
                </button>
            </div>
            <div>
                <!--<div ng-repeat="book in DisplayListCtrl.books">-->
                    <div class="book_style" ng-click="DisplayListCtrl.changeBook(book)" ng-repeat="book in DisplayListCtrl.books">
                        <div class="book_title">{{book.title}}</div>
                        <div>{{book.author}}</div>
                        <div class="book_icon">
                            <i class="glyphicon glyphicon-plus"  ng-click="DisplayListCtrl.visitEventScanner(book);$event.stopPropagation()"></i>
                            <i class="glyphicon glyphicon-pencil" ng-click="DisplayListCtrl.editBook(book);$event.stopPropagation()"></i>
                            <i class="glyphicon glyphicon-remove-circle"  ng-click="DisplayListCtrl.deleteBook(book);$event.stopPropagation()"></i>
                        </div>
                    </div>
                    <!--<button ng-click="DisplayListCtrl.visitEventScanner(book)">新增事件</button>-->
                    <!--<button ng-click="DisplayListCtrl.editBook(book)">编辑</button>-->
                    <!--<button ng-click="DisplayListCtrl.deleteBook(book)">删除</button>-->
                <!--</div>-->
            </div>
        </div>

        <!-- event list -->
        <div class="list_right_content">
            <div class="sub_title">
                事件
            </div>
            <div>
                <div ng-repeat="event in DisplayListCtrl.events | orderBy:'-anchor[0].value':true">
                    <span>{{event.anchor[0].value}}-{{event.anchor[1].value}}</span>
                    <span>{{event.description}}</span>
                    <button class="btn btn-xs btn-default" ng-click="DisplayListCtrl.editEvent(event)">编辑</button>
                    <button class="btn btn-xs btn-default" ng-click="DisplayListCtrl.deleteEvent(event)">删除</button>
                </div>
            </div>
        </div>
    </div>
</ui-view>
