<ui-view ng-controller="EventScannerController as EventScannerCtrl">
    <div class="list_header">
        <h1 class="list_title"><{{EventScannerCtrl.title}}>事件信息</h1>
        <!--<button ng-click="EventScannerCtrl.addEvent()">+</button>-->
    </div>

    <div class="container event_content">
        <table>
        <tr>
            <td>事件开始时间:</td>
            <td><input type="number" ng-model="EventScannerCtrl.start"></td>
        </tr>
        <tr>
            <td>事件结束范围:</td>
            <td><input type="number" ng-model="EventScannerCtrl.end"></td>
        </tr>
        <tr>
            <td>事件描述:</td>
            <td><textarea placeholder="请填写事件描述" ng-model="EventScannerCtrl.description"></textarea></td>
        </tr>
        <tr>
            <td>
                <button ng-click="EventScannerCtrl.saveEvent()">保存</button>
                <button ng-click="EventScannerCtrl.cancel()">取消</button>
            </td>
        </tr>
    </div>


</ui-view>
