<ui-view ng-controller="EventScannerController as EventScannerCtrl">
    <div>
        <{{EventScannerCtrl.title}}>事件信息
        <!--<button ng-click="EventScannerCtrl.addEvent()">+</button>-->
    </div>

    <div>
        <div>
            事件开始时间:<input type="number" ng-model="EventScannerCtrl.start">
        </div>
        <div>
            事件结束范围:<input type="number" ng-model="EventScannerCtrl.end">
        </div>
        <div>
            事件描述:<textarea placeholder="请填写事件描述" ng-model="EventScannerCtrl.description"></textarea>
        </div>
    </div>

    <button ng-click="EventScannerCtrl.saveEvent()">保存</button>
    <button>取消</button>
</ui-view>